/* common css style */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.Panda-btn {
    border-radius: 6px;
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%, rgb(255, 19, 111) 99.994%);
    border: none;
    padding: 15px 35px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.common-section-title {
    font-weight: 600;
    font-size: 36px;

}

.shoes-bagpack-section-title-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoes-bagpack-section-title-parent p {
    color: rgb(255, 157, 0);
    font-size: 20px;
    font-weight: 500;
}

.shoes-bagpack-section-title-parent h2 {
    color: rgb(31, 31, 31);
    font-size: 36px;
    font-weight: 700;
}

/* customs css */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.search-parent {
    position: relative;
}

.search-parent input {
    border-radius: 66px;
    background: rgb(241, 241, 241);
    padding: 15px 30px;
    width: 500px;
    border: none;
}

.search-parent i {
    position: absolute;
    top: 16px;
    right: 20px;
    color: rgb(186, 186, 186);
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 10px;
}

.nav-items li a {
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-size: 16px;
    font-weight: 500;
}

/* banner style */
.banner {
    background: rgb(254, 234, 233);
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 28px;
    border-radius: 10px;
    margin-top: 25px;
    height: 455px;
}

.banner img {
    width: 402px;
    height: 378px;
}

.banner h2 {
    font-size: 56px;
    font-weight: 700;
}

.banner p {
    color: rgb(78, 78, 78);
    font-weight: 400;
    font-size: 16px;
    width: 500px;
}

.banner-price {
    color: #FF136F;
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 0;
    display: block;
}

/* category style */
.categories {
    margin-top: 64px auto;
}

.categories-card-container {
    display: flex;
    gap: 26px;
}

.category-card {
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%, rgb(255, 208, 25) 84.486%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.category-card h3 {
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF
}

.category-card:nth-child(2) {
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%, rgb(255, 19, 111) 99.994%);
}

.category-card:nth-child(3) {
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%, rgb(63, 7, 248) 74.29%);
}

/* shoes and bag section */
.shoes-section {
    background: rgb(244, 244, 244);
    padding: 50px 0;
    margin-top: 52px;
}

.shoe-card-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.shoe-card {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 25px 10px;
    width: 360px;
    height: 496px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.244);
}

.shoe-card img {
    width: 336px;
    height: 202px;
}

.card-price {
    display: block;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 12px;
}

.shoe-card .Panda-btn {
    background: black;
}

/* bagpack style */

.bag-section {
    background: rgb(244, 244, 244);
    padding: 50px 0;

}

/* contact-us-footer-section */

.contact-us-parent {
    background: rgb(255, 242, 241);
    text-align: center;
    padding: 35px 20px;
    border-radius: 15px;
    margin-top: 71px;
    margin-bottom: 75px;
    height: 455px;
}

.total {
    padding: 80px;
}

.total h2 {
    color: rgb(31, 31, 31);
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
}

.total p {
    color: rgb(112, 112, 112);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;

}

.contact-input-btn-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-input-btn-parent input {
    border: none;
    padding: 15px 152px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contact-input-btn-parent .Panda-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.contact-input-btn-parent input {
    color: rgb(204, 204, 204);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
   
}
   